
a{
    text-decoration: none;
    text-align: center;
}
.center{
    text-align: center;
}
.color:visited{
    color: black;
}
.el-b{
    letter-spacing: 50px;
    font-weight: 900;
    font-size: 30px;
}
.font{
    letter-spacing: 20px;
    font-size: 30px;
}
.color:visited{
    color: black;
}
* {
    padding: 0;
    margin: 0;
}